<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>予約フォーム</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'reserves', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>






  <div class="container">
    <%= form_for @tweet,  html: { class: "form-field" } do |t| %>
      <div>
        <%= t.label :start, "予約日時" %><br>
        <%= t.datetime_select :start, start: { behavior: "flatpickr" } %>
      </div>
      <div>
      <%= t.label :finish, "学習計画" %><br> 
        <%= t.text_field :finish %> 
      </div>
      <div>
        <%= t.label :study, "学習計画" %><br> 
        <%= t.text_field :study %> 
      </div>
      <div>
        <%= t.submit "予約確定" %>
      </div>
    <% end %>
  </div>
</body>
</html>